
     <ul class="myList" >
    <% for(var i=0; i<myList.length; i++) {%>
         <li class="ml">
             <span><%= myList[i].Name %></span> <span><%= myList.length %></span>
         </li>
         <% } %>
     </ul>
